<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:8px">
  <!-- Indicators -->
  <ol class="carousel-indicators indecatorsnew">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item">
      <img class="first-slide" src="https://aafaq.co/images/banners/COVER.jpg" alt="First slide">
      <div class="container">
      </div>
    </div>
    <div class="item active">
      <img class="second-slide" src="https://aafaq.co/images/banners/COVER.jpg2.jpg" alt="Second slide">
      <div class="container">
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="https://aafaq.co/images/banners/COVER.jpg3.jpg" alt="Third slide">
      <div class="container">
      </div>
    </div>
  </div>
  <!-- 
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
      
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="fa fa-angle-double-left" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>  -->
</div>